* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: radial-gradient(circle, #333, #000);
    color: white;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.game-container {
    width: 95%;
    max-width: 500px;
    text-align: center;
    background: #111;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 25px gold;
}


h1 {
    color: gold;
    margin-bottom: 15px;
    font-size: 32px;
}


.info-panel {
    display: flex;
    justify-content: space-around;
    background: #222;
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 20px;
}


.info-panel div {
    display: flex;
    flex-direction: column;
}


.info-panel span {
    color: #aaa;
    font-size: 14px;
}


.info-panel strong {
    color: gold;
    font-size: 20px;
}



.slot-machine {
    display: flex;
    justify-content: center;
    gap: 5px;
    background: #050505;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid gold;
}



.reel {
    width: 55px;
    height: 180px;
    overflow: hidden;
    background: white;
    border-radius: 8px;
}


.reel img {
    width: 55px;
    height: 55px;
    object-fit: contain;
    display: block;
    border-bottom: 1px solid #ddd;
}



.lines {
    margin-top: 20px;
    color: white;
}


.lines p {
    color: gold;
    font-weight: bold;
}


.lines span {
    display: inline-block;
    background: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 5px;
}



#spinButton {
    margin-top: 25px;
    width: 200px;
    padding: 15px;
    font-size: 25px;
    font-weight: bold;
    color: white;
    background: linear-gradient(#ffcc00,#ff6600);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 5px 15px black;
}


#spinButton:active {
    transform: scale(0.95);
}



#message {
    margin-top: 20px;
    font-size: 22px;
    color: gold;
    min-height: 30px;
}



/* Mobile adjustment */

@media(max-width:400px){

    .game-container {
        padding: 15px;
    }


    h1 {
        font-size: 25px;
    }


    .reel {
        width: 45px;
        height: 150px;
    }


    .reel img {
        width:45px;
        height:45px;
    }


    #spinButton {
        width:160px;
    }

}
#bonusPopup,
#winPopup {

    display: none;

    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%) scale(0);

    background: rgba(0,0,0,0.9);

    color: white;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

    z-index: 9999;

    box-shadow: 0 0 30px gold;

}


#bonusPopup h1,
#winPopup h1 {

    font-size: 45px;

    margin: 0;

}


#bonusPopup.show,
#winPopup.show {

    display: block;

    animation: popupShow 0.5s forwards;

}



@keyframes popupShow {


    from {

        transform: translate(-50%, -50%) scale(0);

    }


    to {

        transform: translate(-50%, -50%) scale(1);

    }


}
